body {
  width: 100dvw;
  height: 100dvh;
  background: #43766c;
  font-family: "Comfortaa", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  background: #f8fae5;
  border: 20px solid #b19470;
  border-radius: 20px;
  min-height: 40rem;
  max-height: 80rem;
  overflow-y: scroll;
}

main div.row {
  padding: 40px;
}

h2 {
  text-align: center;
}

.panel-heading,
.panel-title {
  background: #b19470 !important;
  color: #fff;
}
